.gexp {
	font-size : 14px;
	font-family: "Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
	font-weight : normal;
    color: #545963 !important;
}

.gexp h2 {
    font-size: 1.3em;
    margin: 8px 0px;
}

.gexp label, .gexp h2 {
	font-weight : normal;
}

.gexp hr {
	margin: 10px 0px;
}

.gexp input {
	cursor : text;
}

.gexp select, .gexp button {
	cursor : pointer;
}

.gexp select {
	margin-left : 5px;
	padding: 3px;
}

.gexp img.button-icon {
    width: 28px;
    height: 28px;
	padding: 2px;
}

.gexp button.button-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-color: transparent;
}

.gexp .inline-row > * {
	display: inline-block;
	vertical-align : middle;
}




.gexp {

}

/* Top area of the application, above map */
.gexp .top-container {
	margin: 10px 0px;
}

.gexp .top-container > * {
	display: inline-block;
}

/* Search place name typeahead */
.gexp img.search {
	margin-right: 5px;
}

.gexp .typeahead.collapsed ul{
	display:none;
}

.gexp .typeahead:not(.collapsed) ul,
.gexp .typeahead .input { 
    border: solid 1px rgb(169, 169, 169);
}

.gexp .typeahead.collapsed .input {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.prx .typeahead .input {
	padding : 3px 8px;
	
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.gexp .typeahead .input,
.gexp .typeahead ul,
.gexp .typeahead li {
	width : 350px;
}

.gexp .typeahead li {
	padding : 3px 8px;
	cursor: pointer;
}

.gexp .typeahead li:not(:first-child) {
	border-top : solid thin rgba(0, 0, 0, 0.1);
}

.gexp .typeahead li:hover,
.gexp .typeahead li.active {
	background-color : rgba(70,137,194,1);
	color : #fff;
	font-weight : bold;
}

.gexp .typeahead ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;

    width: 100%;
	
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
	
    position: absolute;
    z-index: 5000;
	
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

/* Map area of the application */
.gexp .map-container {
	position:relative;
    height: 800px;
}

/* Menu on the left hand side */
.gexp .menu-overlay {
    position: absolute;
    top: 95px;
    left: 15px;
	
	background: rgba(255, 255, 255, 1);
}

.gexp .menu-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.gexp .menu-container > * {
	display: block;
	transition: background-color 125ms ease-in-out;
}

.gexp .menu-container > *.checked {
    background-color: #f0f0f0;
    color: #2e2e2e;
}

.gexp .menu-container > *:hover {
    background-color: #f0f0f0;
    color: #2e2e2e;
}

.gexp .menu-container > *:not(:last-child) {
	border-bottom: solid 1px rgba(110,110,110,0.3);
}

.gexp button.button-icon.select {
	background-image: url(./assets/filter-off-24.png);
}

.gexp button.button-icon.legend {
	background-image: url(./assets/indicator-24.png);
}

/* Widgets overlaid on the map */
.gexp .overlay {
    position: absolute;
    top: 15px;
    right: 15px;
	
	background: rgba(255, 255, 255, 0.9);
	padding:10px;
	
	transition: opacity 125ms ease-in-out;
}

.gexp .overlay .overlay-header {

}

.gexp .overlay .overlay-close {
    position: absolute;
    right: 2px;
    top: 2px;

    background: none;
    border: none;
    font-size: 22px;
    font-weight: 700;
    opacity: 0.4;
}

.gexp .overlay .overlay-title {
	display:inline-block;
	margin : 0;
}

/* Esri's map view */
.gexp .map-container .esri-view {
	height: 100%;
	cursor: grab;
}

/* Map Legend widget */
.gexp .legend {
	width: 350px;
}

/* Select Data widget */
.gexp .selector {
	width: 350px;
}

.gexp .selector label {
	display:flex;
    align-items: center;
}

.gexp .selector label > * {
	flex : 1;
}
