.gexp {
	font-size:14px;
	font-family:"Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
	font-weight:normal;
    color:#545963 !important;
}

.gexp h2 {
	font-family:"Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif !important;
    font-size:1.3em;
    margin:8px 0px;
}

.gexp label, .gexp h2 {
	font-weight:normal;
}

.gexp hr {
	margin:10px 0px;
}

.gexp input {
	cursor:text;
	padding: 3px;
}

.gexp button {
	
}

.gexp button.button-label {
    color:white;
    font-weight:bold;
    height:32px;
    width:64px;
    border:none;
    border-radius:2px;
	background:#333;
    border-bottom:solid 2px #000;
}

.gexp select, .gexp button {
	cursor:pointer;
}

.gexp select {
	padding:3px;
}

.gexp input:disabled,
.gexp select:disabled {
	background:#f6f6f6;
}

.gexp input[type=range] {
	cursor : pointer;
}

.gexp img.button-icon {
    width:28px;
    height:28px;
	padding:2px;
}

.gexp button.button-icon {
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    border-color:transparent;
}

.gexp button.button-icon.small-icon {
    width:16px;
    height:16px;
}

.gexp .inline-row > * {
	display:inline-block;
	vertical-align:middle;
}

/* Remove dock button */
.gexp .esri-popup {
    cursor: default;
}

.gexp .esri-popup ul {
	padding-left:20px;
	list-style:circle;
}

.gexp .esri-popup__button.esri-popup__button--dock {
	display:none;
}

.gexp .esri-view-width-large .esri-popup__main-container {
    width: 325px;
}

.gexp .esri-popup__header-title {
	word-break:break-word;
}

/* Top area of the application, above map */
.gexp .top-container {
	margin:10px 0px;
}

.gexp .top-container > * {
	display:inline-block;
}

/* Search place name typeahead */
.gexp img.search {
	margin-right:5px;
}

.gexp .typeahead {
    position:relative;
}

.gexp .wait {
    width:28px;
    height:28px;
    position:absolute;
    right:0px;
	display:none;
}

.gexp .loading .wait {
	display:inline;
}

.gexp .typeahead.collapsed ul{
	display:none;
}

.gexp .typeahead input { 
    border:solid 1px rgb(169, 169, 169);
}

.gexp .typeahead:not(.collapsed) ul {
    border-bottom:solid 1px rgb(169, 169, 169);
    border-left:solid 1px rgb(169, 169, 169);
    border-right:solid 1px rgb(169, 169, 169);
}

.gexp .typeahead.collapsed .input {
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

.prx .typeahead .input {
	padding:3px 8px;
	
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}

.gexp .typeahead .input,
.gexp .typeahead ul,
.gexp .typeahead li {
	width:350px;
}

.gexp .typeahead li {
	padding:3px 8px;
	cursor:pointer;
}

.gexp .typeahead li:not(:first-child) {
	border-top:solid thin rgba(0, 0, 0, 0.1);
}

.gexp .typeahead li:hover,
.gexp .typeahead li.active {
	background-color:rgba(70,137,194,1);
	color:#fff;
	font-weight:bold;
}

.gexp .typeahead ul {
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:white;
	
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
	
    position:absolute;
    z-index:5000;
	
    overflow-y:auto;
    overflow-x:hidden;
    max-height:400px;
}

/* Map area of the application */
.gexp .map-container {
	position:relative;
    height:800px;
}

/* Menu on the left hand side */
.gexp .map-container .esri-ui .button-icon {
	display:block;
	transition:background-color 125ms ease-in-out;
	background-color:#fff;
}

.gexp .map-container .esri-ui .button-icon:hover,
.gexp .map-container .esri-ui .button-icon.checked {
    background-color:#f0f0f0;
    color:#2e2e2e;
}

.gexp .map-container .esri-ui .button-icon.selector {
	background-image:url(./assets/filter-off-24.png);
	border-bottom:solid 1px rgba(110,110,110,0.3);
}

.gexp .map-container .esri-ui .button-icon.styler {
	background-image:url(./assets/indicator-24.png);
}

.gexp .map-container .esri-ui .button-icon.legend {
	background-image:url(./assets/layers-24.png);
}

.gexp .map-container .esri-ui .button-icon,
.gexp .map-container .esri-ui .esri-fullscreen {
	margin-bottom:0px;
	border-bottom:solid 1px rgba(110,110,110,0.3);
}

/* Widgets overlaid on the map */
.gexp .waiting,
.gexp .overlay {
	background:rgba(255, 255, 255, 0.925);
	padding:10px;
	
	transition:opacity 125ms ease-in-out;
}

.gexp .overlay {
    position:absolute;
}

.gexp .waiting {
    position:relative;
}

.gexp .overlay .overlay-close {
    position:absolute;
    right:2px;
    top:2px;

    background:none;
    border:none;
    font-size:22px;
    font-weight:700;
    opacity:0.4;
}

.gexp .overlay .overlay-title {
	display:inline-block;
	margin:0;
}

/* Esri's map view */
.gexp .map-container .esri-view {
	height:100%;
	cursor:pointer;
}

/* Map Styler widget */
.gexp .selector,
.gexp .styler {
	width:450px;
}

.gexp .legend {
	width:350px;
}

.gexp .styler .overlay-body > * {
	margin:5px 0px;
}

.gexp .styler p {
	font-size:0.9em;
}

.gexp .styler label {
	font-size:1.1em;
}

.gexp .styler input {
	display:block;
}

.gexp .color-range > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 0px;
}
.gexp .color-range .color {
    margin-right: 15px;
}

.gexp .color-range label {
    font-size: 1em;
}

.gexp .styler .color-picker > * {
	display:inline-block;
}

.gexp .styler .color-picker .wheel-container {
    position: absolute;
    transform: translate(-10px, 0px);
    background: white;
    padding: 10px;
    border-radius: 2px;
    border: solid thin silver;
	cursor:pointer;
}

.gexp .styler .color-picker .wheel-container.collapsed {
	display:none;
}

.gexp .legend label {
	font-weight: bold;
	font-size: 1.1em;
    margin: 5px 0px;
}

.gexp .legend .opacity-labels-container label {
	font-size : 0.9em;
	font-weight : normal;
    margin: 0;
}

.gexp .legend .opacity-labels-container label:first-child {
	float:left;
}

.gexp .legend .opacity-labels-container label:last-child {
	float:right;
}

.gexp .legend ul {
    padding-inline-start: 30px;
    margin-bottom: 0px;
}

.gexp .legend .break-line > *,
.gexp .styler .break-line > * {
    padding:3px 5px;
}

.gexp .styler .break-line button.to {
    border: none;
    background: none;
    text-decoration: underline;
}

.gexp .styler button.color,
.gexp .legend .break-line .break-color,
.gexp .styler .break-line .break-color{
	width:24px;
	height:24px;
	border:solid thin black;
	border-radius:2px;
}

.gexp .styler .break-line .break-to-container:not(.editing) .editor {
	display:none;
}

.gexp .styler .break-line .break-to-container.editing button.to {
	display:none;
}

.gexp .styler .break-line .break-to-container .editor > * {
	display:inline-block;
	vertical-align:middle;
} 

.gexp .styler .break-line .break-to-container .editor .editor-input {
	width:80px;    
	height: 24px;
}

.gexp .styler .break-line .break-to-container .editor button {
    margin: 0px 3px;
}

.gexp .styler .break-line .break-to-container .editor button.apply {
    background-image: url(./assets/check-16.png);
}

.gexp .styler .break-line .break-to-container .editor button.cancel {
    background-image: url(./assets/close-16.png);
}

/* Legend Widget */
.gexp .legend .break-line:not(:first-child) {
	border-top : solid thin silver;
}

.gexp .legend .opacity-container {
	text-align:center;
}

.gexp .legend .opacity-labels-container,
.gexp .legend input.opacity {
    width: 90%;
    display: inline-block;
    padding: 0;
}

/* Select Data widget */
.gexp .selector label {
	display:flex;
    align-items:center;
}

.gexp .selector label.sm-label {
	display:flex;
    align-items:center;
}

.gexp .selector label > * {
	margin-left:5px;
	flex:1;
}

.gexp .selector .filter-container > *,
.gexp .selector .filter-container .filter > *,
.gexp .selector .overlay-body > * {
	margin-top:6px;
}

.gexp .selector select {
	width:100%;
}

.gexp .select-placeholder {
	display:none;
}

.gexp .selector .filter-container {
    border-left:solid 0.5em #d9d9d9;
	padding-left:5px;
}

.gexp .selector .filter-instructions {
    font-style:italic;
}

/* Apply Close Buttons */
.gexp .button-container {
	float:right;
}

.gexp .button-container button {
    transition:background-color 125ms ease;
}

.gexp .button-container button.button-apply {
    margin-right:5px;
    background:#489648;
    border-bottom:solid 2px #325b32;
}

.gexp .button-container button:disabled {
	opacity:0.7;
	cursor:not-allowed;
}

.gexp .button-container button.button-apply:hover:not(:disabled) {
	background-color:#325b32;
}

.gexp .button-container button.button-close {
    margin-left:5px;
    background:#ed3330;
    border-bottom:solid 2px #80201e;
}
.gexp .button-container button.button-close:hover {
	background-color:#80201e;
}

/* Tooltip */
.gexp.tooltip {
	max-width: 300px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    padding: 10px;
	transition:opacity 125ms ease-in-out;
}

.gexp.tooltip ul {
    list-style-type: circle;
    padding-left: 20px;
}

/* Waiting message */
.gexp .waiting > * {
    display:inline-block;
}

.gexp .waiting label {
    margin-right:10px;
}


.gexp .table-widget {
	margin-top:18px;
}

.gexp .table-widget table{
	margin:10px;
}

.gexp .table-widget table,
.gexp .table-widget table tbody,
.gexp .table-widget table thead {
	display:block;
}

.gexp .table-widget table thead {
    border-top: solid thin silver;
}

.gexp .table-widget table tbody {
	max-height:300px;
	overflow-y:auto;
	
	border-bottom:solid thin silver;
	border-top:solid thin silver;
}

.gexp .table-widget table tbody tr td:first-child {
	cursor:pointer;
}

.gexp .table-widget table tbody tr td:not(:first-child) {
    cursor: zoom-in;
}

.gexp .table-widget table thead th,
.gexp .table-widget table tbody td {
	font-size:1.2em;
	width:170px;
	padding:3px;
}

.gexp .table-widget table thead th:nth-child(1),
.gexp .table-widget table tbody td:nth-child(1) {
	width:36px;
}

.gexp .table-widget table thead th:nth-child(3),
.gexp .table-widget table tbody td:nth-child(3), 
.gexp .table-widget table thead th:nth-child(6),
.gexp .table-widget table tbody td:nth-child(6) {
	width:320px;
}

.gexp .table-widget table tbody tr:nth-child(odd) {
	background:rgb(240,240,240);
}

.gexp .table-widget table tbody tr:hover {
	background: rgb(153, 217, 242);
    color: white;
}

.gexp .table-widget h2 {
	font-size:24px;
}

.gexp .table-widget button {
	border:none;
	background:none;
}