/* TODO: Periodically, big cleanup of CSS */
abbr[data-original-title], abbr[title] {
    text-decoration: none;
}

.gexp {
	font-size:14px;
	font-family:"Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
    color:#545963 !important;
}

.gexp h2 {
	font-family:"Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif !important;
    font-size:1.3em;
    margin:8px 0px;
}

.gexp, .gexp label, .gexp h2 {
	font-weight:normal;
}

.gexp sub, .gexp sup {
    line-height: initial;
    vertical-align: super;
    position: initial;
}

.gexp hr {
	margin:10px 0px;
}

.gexp input {
	cursor:text;
	padding: 3px;
}

.gexp select, .gexp button, 
.gexp input[type=checkbox], 
.gexp input[type=range],
.gexp input[type=radio],
.gexp label[for] {
	cursor:pointer;
}

.gexp button.button-label {
    color:white;
    font-weight:bold;
    height:32px;
    width:64px;
    border:none;
    border-radius:2px;
	background:#333;
    border-bottom:solid 2px #000;
}

.gexp select, 
.gexp input[type=number], 
.gexp input[type=text] {
	padding:3px;
	font-weight:normal;
    border:solid 1px rgb(169, 169, 169);
    height: 28px;
	text-overflow: ellipsis;
    border-radius:2px;
}

.gexp input:disabled,
.gexp select:disabled {
	background:#f6f6f6;
}

.gexp img.button-icon {
    width:28px;
    height:28px;
	padding:2px;
}

.gexp button.button-icon {
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    border-color:transparent;
}

.gexp button.small-esri-icon {
    width: 24px;
    height: 24px;
    padding: 0px;
    font-weight: bold;
    border-color:transparent;
}

/*  ESRI Overwrites */
.gexp .esri-popup {
    cursor: default;
}

.gexp .esri-popup ul {
	padding-left:20px;
	list-style:circle;
}

.gexp .esri-popup__button.esri-popup__button--dock {
	display:none;
}

.gexp .esri-view-width-large .esri-popup__main-container {
    width: 325px;
}

.gexp .esri-popup__header-title {
	word-break:break-word;
}

.gexp .map-container .esri-view {
	height:100%;
}

/* Toolbar menus */
.gexp .menu.navigation {
    width: 32px;
}

.gexp .menu > *, .gexp .search > * {
    vertical-align: middle;
}

.gexp .menu > *:last-child {
	margin-bottom:0px;
}

.gexp .typeahead {
    position:relative;
}

.gexp .wait {
    width:28px;
    height:28px;
    position:absolute;
    right:0px;
	display:none;
}

.gexp .loading .wait {
	display:inline;
}

/* Map area of the application */
.gexp .map-container {
	position:relative;
    height:800px;
}

/* Menu on the left hand side */
.gexp .map-container .esri-ui .button-icon {
	transition:background-color 125ms ease-in-out;
	background-color:#fff;
}

.gexp .map-container .esri-ui .button-icon:hover {
    background-color: #dcdcdc;
    color: #2e2e2e;
}

.gexp .map-container .esri-ui .button-icon.checked {
    border: solid 2px #727272;
}

.gexp .map-container .esri-ui .button-icon:disabled {
	cursor:not-allowed;
    background-color: #e4c2c2;
}

.gexp .map-container .esri-ui .button-icon.selector {
	background-image:url(./assets/filter-off-24.png);
}

.gexp .map-container .esri-ui .button-icon.basemap {
	background-image:url(./assets/streets-16.png);
}

.gexp .map-container .esri-ui .button-icon.styler {
	background-image:url(./assets/indicator-24.png);
}

.gexp .map-container .esri-ui .button-icon.legend {
	background-image:url(./assets/layers-24.png);
}

.gexp .map-container .esri-ui .button-icon.bookmarks {
	background-image:url(./assets/bookmark-24.png);
}

.gexp .map-container .esri-ui .button-icon.export {
	background-image:url(./assets/export-24.png);
}

.gexp .map-container .esri-ui .button-icon.behaviour{
	background-image:url(./assets/toggle.png);
	background-size: 17pt;
}

.gexp .map-container .esri-ui .button-icon.chart {
	background-image:url(./assets/charting-24.png);
}

.gexp .map-container .esri-ui .esri-widget--button:not(:last-child) {
	margin-bottom:0px;
}

.gexp .select-placeholder {
	display:none;
}

/* Widgets overlaid on the map */
.gexp .waiting,
.gexp .overlay {
	background:rgba(255, 255, 255, 0.925);
	padding:10px;
	transition:opacity 125ms ease-in-out;
}

.gexp .legend-container .legend-widget .eyes {
	display:none;
}

.gexp .fa.fa-info-circle {
	margin-left: 5px; 
	cursor: pointer;
}

.gexp .chart-overlay {
  fill: none;
  pointer-events: all;
}

.gexp .hover-line {
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 2,4;
}

.esri-popup__footer {
    display: none;
}

.esri-popup__content { 
    margin: 4px 15px 12px;

    
}

/* Basemap */
.esri-basemap-gallery__item { 
	animation: none;
}

/* Type ahead */
.gexp .typeahead-input-icon::before {
    margin-left: -18px; 
	font-family: "FontAwesome";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	content: "\f078";
	pointer-events: none;
    color: rgb(100, 100, 100);
}
.gexp .export .export-section {
    margin: 4px 0px;
}

.gexp .export .export-section > *:not(:first-child) {
    margin-left: 16px;
}
 
.gexp .export .export-row * {
	display: inline-block;
	vertical-align: middle;
    margin: 1px 3px;
}

.gexp .export .export-section-label {
	font-size: 1.1em;
	font-weight: bold;
}

.esri-popup .esri-popup__button {
	display:none;
}

.esri-popup a {
    text-decoration: none;
    color: initial;
    pointer-events: none;
}